.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.card {
  width: calc(100% * 1/6 - 20px);
  padding-top: calc(100% * 1/6 - 20px);
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 20px 20px 0;
}

.square {
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;  
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}
